.side-panel {
    -fx-background-color: #635380;
}

.flow-pane-figures {
    -fx-background-color: #635380;
}

.side-button {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: #2E1F44;
}

.new-button, .openf-button, .save-button, .magic-button, .figures-button {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: #59336A;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25px 25px;
    -fx-font-weight: 700;
}

.new-button {
    -fx-background-image: url('images/file.png');
}
.openf-button {
    -fx-background-image: url('images/folder.png');
}
.save-button {
    -fx-background-image: url('images/save.png');
}
.magic-button {
    -fx-background-image: url('images/magic.png');
}
.figures-button {
    -fx-background-image: url('images/figures.png');
}

.class-figure-button, .cr-figure, .cr-inh-arrow, .cr-dep-arrow, .cr-agg-arrow, .del-button {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: #59336A;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-font-weight: 700;
}

.del-button {
    -fx-background-image: url('images/figures-out.png');
}

.cr-figure {
    -fx-background-image: url('images/cr-figure.png');
}

.cr-inh-arrow {
    -fx-background-image: url('images/cr-inh-arrow.png');
}

.cr-dep-arrow {
    -fx-background-image: url('images/cr-dep-arrow.png');
}

.cr-agg-arrow {
    -fx-background-image: url('images/cr-agg-arrow.png');
}

.text-style {
    -fx-fill: #fff;
    -fx-font-size: 14px;
}